@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #2C312D;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #394D41;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
}

nav .logo-navbar img {
    float: left;
    max-height: 2.3rem;
    cursor: pointer;
}

nav .logo,
nav .logo-navbar {
    display: flex;
    justify-content: space-between;
}

nav .nav-links {
    display: flex;
    list-style: none;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

nav .hamburger {
    display: none;
    cursor: pointer;
    position: relative;
}

nav .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

/* Hamburger menu animation */
nav .active-hamburger .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all 0.3s ease;
}

nav .active-hamburger .line:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav .active-hamburger .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: all 0.3s ease;
}


/* End of Hamburger menu animation */

header {
    background-image: url('../img/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header h1 {
    color: #fff;
    font-size: 70px;
    margin-bottom: 20px;
}

header p {
    color: #fff;
    font-size: 32px;
}

.section-hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section-visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.about {
    background-color: #2C312D;
    padding: 50px;
    margin-top: 10px;
    margin-top: 0;
}

.about h2 {
    color: #c4c0c0;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.about p {
    color: #dbd9d9;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}

.about-heading,
.about-text {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.about-heading.visible,
.about-text.visible {
    opacity: 1;
    transform: translateX(0);
}

.portfolio {
    background-color: #424944;
    padding: 50px;
}

.portfolio h2 {
    color: #c4bebe;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    cursor: pointer;
    max-width: 70rem;
    margin-left: 35vh;
}

.gallery img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

.gallery a {
    position: relative;
    display: inline-block;
}

.project-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.5rem;
    transform: scale(0.9);
}

.gallery a:hover .project-name {
    opacity: 1;
    transform: scale(1);
}

.contact {
    background-color: #2C312D;
    padding: 50px;
    margin-top: -20px;
}

.contact h2 {
    color: #c4bebe;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact input[type="text"],
.contact input[type="email"] {
    height: 40px;
    font-size: 18px;
}

.contact textarea {
    height: 150px;
    font-size: 18px;
}

.contact input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.contactButton {
    background: #283a24;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #101f10;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }
  
  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #0b1a0c;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #0f1a06;
  }
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }

  

footer {
    background-color: #394D41;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #394D41;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

#back-to-top:hover {
    background-color: #333;
}

/* Skills Section */
#skills {
    background-color: transparent;
    padding: 50px 0;
}

#skills h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    color: #c4bebe;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.skill h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.skill-bar {
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
}

.skill-level {
    background-color: #394D41;
    height: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #394D41;
        padding: 20px;
        z-index: 2;
        transition: left 0.3s ease-in-out;
      }
      
      nav.active .nav-links {
        left: 0;
      }

    nav .hamburger {
        display: block;
    }

    nav.active .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 20px;
        z-index: 2;
    }

    nav.active .nav-links li {
        margin: 10px 0;
    }

    nav.active .hamburger .line {
        background-color: #fff;
    }

    .skills-container {
        display: block;
    }

    .gallery {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {

    .about,
    .contact {
        padding: 30px;
    }

    header h1 {
        font-size: 36px;
        margin-top: 100px;
    }

    header p {
        font-size: 18px;
    }

    .about h2,
    .portfolio h2,
    .contact h2 {
        font-size: 24px;
    }

    header {
        height: 100%;
        min-height: 50vh;
    }

    .gallery {
        grid-template-columns: 1fr;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .skills-container {
        justify-content: space-between;
    }

    .skill {
        flex-basis: 100%;
        margin: 10px 0;
    }
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
